
html {
    font-size: 1rem;
    height: 100%;
}

body, header, main, footer {
    min-height: 50px;
    margin: 0 0.5rem 0 0.5rem;
    min-width: 400px;
}
*::selection {
    background-color: rgba(162, 48, 214, 0.637);
}

body {
    margin-top: auto;
    background-color: black;
    font-family: 'Dongle', sans-serif;
}
main {
    min-height: 200px;
    overflow: auto;
    background-color: white;
    
    

}

header {
    display: block;
    background: linear-gradient(rgb(60, 4, 77), rgb(160, 42, 175), rgba(255, 255, 255, 0.849));
    
    
}
header {position: sticky;top: 0;
}



/* Contenido principal del sitio. Le damos estilo al div que esta dentro del main.
Solo funciona si el div es hijo directo del main, no funciona si esta
dentro de otra seccion*/
main>div {
    min-height: 180px;
    margin: 5rem;
    height: auto;
    float: left;
    width: 65%;
    
}

/* lo mismo hacemos con el aside.  */
main>aside {
    min-height: 180px;
    min-width: 25%;
    float: left;
    margin: 0.5rem;
    width: auto;
}
 
.secciones {
    min-height: 50px;
    margin: 0.5rem;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    border-radius: 50px 50px 5px 5px;
}

.secciones article {
    margin: 0;
}
.secciones h3 {
    background: linear-gradient(rgb(116, 13, 148), rgb(160, 42, 175), rgb(255, 255, 255));
    border-radius: 50px 50px 0 0;
    font-size: 50px;
    width: auto;
    text-align: center;
    margin-bottom: 0;
    padding: 0.5rem 1rem 0 0.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.2em rgb(133, 212, 238), 0 0 0.2em rgb(119, 205, 255),
		0 0 0.2em rgb(116, 13, 148);
    

}

.secciones img {
    display: block;
    width: 65%;
    margin: auto;
}

.secciones p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding-bottom: 15px;
}


/*Logo y Menu */
#imagenlogo {
    width: 300px;
}


.encabezado-logo {
    width: auto;
    display:inline-block;
    margin:0 0 0 3rem;


}
.encabezado-nav {
    left:auto;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 0.5rem 0  0.5rem 5rem;
}

.encabezado-nav ul {
    list-style: none;
}

.encabezado-nav li {
    float: left;
    font-weight: 700;
    text-align: center;
    margin: 0 2rem 0 2rem;
    
}

.encabezado-nav  a {
    text-decoration: none;
    color: rgb(241, 241, 241);
    letter-spacing: 1px;
}

.encabezado-nav  a:hover{
    text-shadow: 0 0 0.2em rgb(159, 111, 236), 0 0 0.2em #87F,
		0 0 0.2em #87F;
    color: rgb(134, 234, 241);
    transition: 1s;
    
}


.encabezado-nav li a {
    font-size: 1.5rem;
    background: transparent;   
}
/* Estilos del Aside */
.contenidolateral {
    min-height: 50px;
    margin: 0.5rem;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    border-radius: 50px 50px 5px 5px;
}
.contenidolateral h3 {
    background: linear-gradient(rgb(116, 13, 148), rgb(160, 42, 175), rgb(255, 255, 255));
    border-radius: 50px 50px 0 0;
    font-size: 30px;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 0.6rem 0.5rem 0 0.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.2em rgb(133, 212, 238), 0 0 0.2em rgb(119, 205, 255),
		0 0 0.2em rgb(116, 13, 148);
    

}

/* Estilos del Footer */
footer {
    background-color: white;
}
footer div{
    display: inline-block;
    margin-top:0;
    padding: auto;
    text-align: center;
    width: 100%;
    background:rgb(160, 42, 175) ;
    border-radius: 50% 50% 0 0;
    color: white;
    box-shadow: 0 0 0.9rem rgba(58, 55, 54, 0.575);
        
    
   
}
footer div img {
    width: 2rem;
    margin: 1rem;
}

/* Estilos página de contactos */


.introcontact {
    margin: 3rem;
}
.introcontact,p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 3rem;
    max-width: 80%;
}

.introcontact,h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 3rem;
    max-width: 80%;
}

.introcontact,h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
    max-width: 80%;
}




.contactoform{
    word-wrap: break-word;
    overflow: auto;
    margin-bottom: 3rem;
    background: linear-gradient( rgba(255, 255, 255, 0.849),rgb(160, 42, 175));; /* Color blanco para el formulario */
    
    
}

.contactoform form {
    
    margin: auto; /* Centramos el formulario */
    width: 50%;   /* Sin ancho no podemos centrar el formulario */
    
    padding: auto; /* separamos los bordes del form del resto de elementos */
    border: 0; /* Redondeamos los bordes del form */
    
    font-size: 35px;
    font-weight: bold;
 }
 
.contactoform textarea {
    font-size: 15px;
     padding:1rem; /* Separamos la letra del interior (contenido) en los inputs de los bordes */
     width: 100%;
     
 }
 
.contactoform label {
     display: block; /* Ahora los inputs quedan debajo de los label */
     padding: 0; /* Separando espacios internos */
     margin: 0;
 }
 
.contactoform li {
     margin: 1rem; /* dando márgenes a todos los elementos de la lista */
 }

 .contactoform input {
    width: 30%;
    min-width: 300px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }

.contactoform #comentario {
    max-width: 65%;
 }
 

 
.contactoform button {
    
     width: 10rem;
     height: 3rem;
     margin: 1rem;
     background:#732375;
     border-radius:10px;
     font-family: 'Dongle', sans-serif;
     font-size: 30px;
     font-weight: bold;
     color: rgb(236, 190, 240);
 }
 .contactoform  button:hover{
    text-shadow: 0 0 0.2em rgb(159, 111, 236), 0 0 0.2em #87F,
		0 0 0.2em #87F;
    color: rgb(134, 234, 241);
    transition: 1s;
    
}